/* dropdown.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Style du conteneur principal du dropdown */
.dropdown {
  width: 85%;
  margin-bottom: 15px;
  border-radius: 3px;
}

.dropdown__toggle {
  background: #0056b3;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 10px;
}

/* Custom scroll bar */
.dropdown__menu::-webkit-scrollbar {
  width: 5px;
}

.options-wrapper{
  overflow-y: scroll;
  max-height: 50px;
}

.dropdown__toggle:hover {
  background: #014997;
}

.dropdown__menu {
  background: #fff;
  padding: 10px;
  margin-top: 0;
  border: 1px solid #3f8cde;
  border-top: none;
}

.dropdown__menu__item{
  padding: 10px;
  text-align: center;
}
.dropdown__menu__item:hover {
  background: #b95959;
  color: white;
}

.dropdown__menu__item:last-child {
  border-bottom: none;
}

